@charset "UTF-8";

body{
    background-color: #3797FF;
    color: white;
}

h1{
    font-size: 50px;
    margin-left: 25px;
}

ul,
h4{
    color: black;
    list-style-type: none;
}

.dong-content {
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.dong-content article {
    display: flex;
    align-items: flex-start; 
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 16px;
    margin-bottom: 20px;
    gap: 16px; 
}

.dong-content article img {
    width: 200px; 
    height: 160px; 
    object-fit: cover;
    border-radius: 12px;
}

.dong-content article p {
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}


/*민락동 자연*/
/*민락동자연 여행*/
.Nature {
    background-color: #a7d26c;
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

/* 민락동자연 여행 제목 */
.dong-Natur h3 {
    margin-top: 0; 
    font-size: 20px;
    color: #a7d26c;
}


/*민락동 역사*/
/*민락동 역사 여행*/
.history{
    background-color: #b16604;
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

/* 민락동역사 여행 제목 */
.dong-history h3{
    margin-top: 0; 
    font-size: 20px;
    color: #b16604;
}


/*민락동 문화*/
/*민락동 문화 여행*/
.Culture{
    background-color: #f58fbf;
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

/* 민락동문화 여행 제목 */
.dong-Culture h3{
    margin-top: 0; /* 제목의 상단 마진 제거 */
    font-size: 20px;
    color: #f58fbf;
}
