@charset "UTF-8";

body{
    background-color: #ffffff;
    color: rgb(37, 37, 37);
}

h1{
    font-size: 50px;
    margin-left: 30px;
    margin-top: 40px;
    display: inline-block;
}

h5{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 25px;
}

ul,
h4{
    color: black;
    list-style-type: none;
}

p{
    text-align: justify;
    word-break: keep-all;
     line-height: 1.6;
}

.dong-content {
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.dong-content article {
    display: flex;
    align-items: flex-start; 
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 16px;
    margin-bottom: 20px;
    gap: 16px; 
}

.dong-content article img {
    width: 200px; 
    height: 160px; 
    object-fit: cover;
    border-radius: 12px;
}

.dong-content article p {
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}


/* 자연 */
/*자연 여행*/
.nature {
    background-color: #BBF97A;
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
/*자연 여행 제목 */
.dong-natur h3 {
    margin-top: 0; 
    font-size: 20px;
    color: #BBF97A;
}
/* //자연 */


/*역사*/
/*역사 여행*/
.history{
    background-color: #59CEF7;
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
/* 역사 여행 제목 */
.dong-history h3{
    margin-top: 0; 
    font-size: 20px;
    color: #59CEF7;
}
/* //역사 */


/* 문화 */
/*문화 여행*/
.culture{
    background-color: #F73777;
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
/* 문화 여행 제목 */
.dong-culture h3{
    margin-top: 0;
    font-size: 20px;
    color: #F73777;
}
/* //문화 */
