@charset "UTF-8";

.st0{
    fill:#3797F7;
}

.st1{
    fill:#b43333;
    stroke:#000000;
    stroke-width:2;
    stroke-miterlimit:10;
}

.st2{
    fill:#bcdf21;
    stroke:#000000;
    stroke-miterlimit:10;
}

.st3{
    fill:none;
    stroke:#004A7C;
    stroke-width:8;
    stroke-miterlimit:10;
}

.st4{
    stroke:#000000;
}

.st5{
    fill:#FFFFFF;
}
